<h3>Estad&iacute;sticas</h3>
<br/>
<table>
    <tr><td class="left">N&uacute;mero de preguntas:</td><td><%= statistics.numPreguntas %></td></tr>
    <tr><td class="left">N&uacute;mero de comentarios totales:</td><td><%= statistics.numComentarios %></td></tr>
    <tr><td class="left">N&uacute;mero medio de comentarios por pregunta:</td><td><%= statistics.comentariosPorPregunta %></td></tr>
    <tr><td class="left">N&uacute;mero de preguntas sin comentarios:</td><td><%= statistics.numPreguntasNoComentadas %></td></tr>
    <tr><td class="left">N&uacute;mero de preguntas con comentarios:</td><td><%= statistics.numPreguntasComentadas %></td></tr>
</table>